@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-color:#ffffff;
    --secondary-color: black;
    --nav-txt-color:#8a8a8a;
    --theme-color:#ffc107;

}
.dark-theme{
    --primary-color:black;
    --secondary-color: #ffffff;
    --nav-txt-color:#ccc;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary-color);
}
header{
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}
main{
    background-color: var(--primary-color );
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin-left: 88px;
}
.img-ur{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: bottom / contain no-repeat url("https://github.com/Arjunr7019/myPorfolio/tree/main/img/profile.png");
    margin-right: 10px;
}
.change-img-ur{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: bottom / contain no-repeat url("/img/profile-white.png");
    margin-right: 10px;
}
.txt-ur{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 26px;
    margin: 0 228px 5px 14px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}
nav ul{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 14px;
}
nav ul li a{
    text-decoration: none;
    color: var(--nav-txt-color);
    font-weight: 900;
}
nav ul li a:hover {
    /* color: #d6d600; */
    color: var(--theme-color);
} 
.txt-ur:hover{
    color: var(--theme-color);
    
}
.img-ur:hover{
    background: bottom / contain no-repeat url("/img/profile-yellow.png");
}
.mode-img{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: bottom / contain no-repeat url("/img/dark-mode.png");
    /* margin-right: 10px; */
}
.dr-mode-img{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: bottom / contain no-repeat url("/img/light-mode.png");
    /* margin-right: 10px; */
}
.modes{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 900;
    /* font-size: 26px; */
    /* margin: 0 228px 5px 14px; */
    /* letter-spacing: 2px; */
    display: flex;
    align-items: center;
    cursor: pointer;
}
.modeDarkLight{
    margin-left: 190px;
    display: flex;
    justify-content: flex-end;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.static-txt {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.name {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--theme-color);
    font-size: 40px;
    font-weight: 400;
    cursor: text;
}

.dev-img {
    width: 500px;
    height: 500px;
    margin-right: 70px;
}

.user-info {
    display: flex;
    justify-content: center;
}
.info{
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 70px;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    cursor: text;
}
.container-user{
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
}
.cv{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
    margin-left: 70px;
    margin-top: 20px;
    cursor: pointer;
}
.cv-img{
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 5px;
}
.dw-cv{
    text-decoration: none;
    color: #3d3d3d;
    font-family: 'Roboto', sans-serif;
}
.cv,.dw-cv:hover{
    color: var(--theme-color);
}
@media screen and (max-width:700px){
    .logo{
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        margin-left: 20px;
    }
    header{
        width: 100%;
    }
    .txt-ur{
        width: 200px;
        margin: 0 14px 5px 14px;
    }
    ul{
        visibility: hidden;
        display: block;
    }
    nav{
        width: 100%;
    }
    .container{
        display: block;
    }
    .container-name{
        display: block;
    }
    .container-user{
        margin-top: 80px;
        margin-left: 20px;
        width: 100vw;
    }
    .static-txt{
        font-size: 35px;
    }
    .name{
        font-size: 35px;
    }
    .info{
        margin-left: 20px;
        font-size: 18px;
        margin-right: 20px;
    }
    .cv{
        width: 90%;
        margin-left: 20px;
        justify-content: center;
    }
    .cv-img{
        margin-left: 0;
    }
    .dev-img{
        margin-right: 0;
    }
    .dev-icon-img{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:900px){
    .logo{
        margin-left: 10px;
    }
    header{
        width: 100%;
    }
    nav{
        margin: 0 20px;
    }
    .txt-ur{
        width: 200px;
        margin: 0 14px 5px 14px;
    }
    .modeDarkLight{
        margin-left: 90px;
        height: 35px;
    }
    .container-user{
        margin-top: 80px;
        margin-left: 30px;
    }
    .info{
        margin-left: 30px;
        font-size: 20px;
        margin-right: 20px;
    }
    .dev-img{
        margin-right: 0;
        width: 350px;
        height: auto;
    }
    .cv{
        width: 90%;
        margin-left: 20px;
        justify-content: center;
    }
    .cv-img{
        margin-left: 0;
    }
    main{
        margin-top: 30px;
    }
}
